<div class="row w-100 mt-4">
  <div class="row w-100">
    <div class="col-sm"> <label>Available {{nameSpaceTitle ? nameSpaceTitle: ''}}</label> </div>
    <div class="col-sm"> <label>Selected {{nameSpaceTitle ? nameSpaceTitle: ''}} *</label> </div>
  </div>

  <div class="row mx-0 w-100">
    <mat-form-field class="w-100">
      <input matInput type="text"
      placeholder="Search {{nameSpaceTitle ? nameSpaceTitle: ''}}"
      [(ngModel)]="searchText">
    </mat-form-field>
  </div>
  
    <div class="col-sm min-height">

    <ul class="available-list border-color-grey list-group mt-2">
      <li class="list-group-item-action list-group-item-action" *ngFor="let item of (getAvailableItems(availableItems) |
      filterBy: ['name'] : searchText)"
      (click)="onSelectedItemChanges(item)">
        {{ item.name }}
      </li>
    </ul>
    </div>

    <div class="col-sm min-height">
      <ul class="available-list border-color-grey list-group mt-2">
        <li class="list-group-item-action list-group-item-action" *ngFor="let item of selectedItems">
          {{ item.name }}
        </li>
      </ul>
      </div>

</div>