<div class="row w-100 mt-4">

    <div class="col-sm min-height">
      <label>Available {{nameSpaceTitle ? nameSpaceTitle: ''}}</label>
      <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
        placeholder="Search {{nameSpaceTitle ? nameSpaceTitle: ''}}"
        (keyup)="searchingItems($event)">

    <ul class="available-list border-color-grey">
      <li class="list-group-item-action" *ngFor="let item of (getAvailableItems(availableItems) |
      filterBy: ['name'] : searchText)"
      (click)="onSelectedItemChanges(item)">
        {{ item.name }}
      </li>
    </ul>
    </div>

    <div class="col-sm min-height">
        <label>Selected {{nameSpaceTitle ? nameSpaceTitle: ''}} *</label>
      <ul class="available-list border-color-grey mt-4 pt-3">
        <li class="list-group-item-action" *ngFor="let item of selectedItems">
          {{ item.name }}
        </li>
      </ul>
      </div>

</div>