<div class="row w-100 mt-4 mb-4">
    <mat-card class="w-100 mb-4">
  <!-- <div class="card w-100 mb-4"> -->

    <div class="card-body">
      <div class="col">
        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Username *" [(ngModel)]="userInfo.username">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="email" placeholder="Email *" [(ngModel)]="userInfo.email">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="Password *" [(ngModel)]="userInfo.password">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="Repeat Password *"
                [(ngModel)]="comfirmPassword" (change)="onchangeConfirmPassword($event)">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Phone Number" [(ngModel)]="userInfo.phone">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Job Title" [(ngModel)]="userInfo.jobtitle">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="First Name *" [(ngModel)]="userInfo.firstname">
            </mat-form-field>
        </div>

        <div class="row mt-4">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Sur Name *" [(ngModel)]="userInfo.surname">
            </mat-form-field>
        </div>

        <div class="row mt-4">
          <div class="w-100">
              <app-available-selected
              [nameSpaceTitle]="'User Roles'"
              [availableItems]="userRoles"
              [selectedItems]="userInfo.role"
              (changesOnSelectedItems)="recieveSelectedItems($event)"
              ></app-available-selected>
          </div>
            
        </div>

        <div class="row mt-4">
          <!-- <div class="btn btn-primary" (click)="saveUserInfo()">Save</div> -->
          <button mat-raised-button color="primary" (click)="saveUserInfo()">Save</button>
          <button mat-raised-button class="ml-4" [routerLink]="'/' + (currentSectionSelection$ | async)">Cancel</button>
          <!-- <div class="btn btn-light ml-4" [routerLink]="'/' + (currentSectionSelection$ | async)">Cancel</div> -->
        </div>
        
      </div>
    </div>
  <!-- </div> -->
</mat-card>
</div>
