<div class="row w-100 mt-4 mb-4">

    <div class="row w-25 ml-2 mb-2" *ngIf="(users$ | async).length > 0">
        <div class="input-group">
            <mat-form-field class="w-100">
                <input matInput type="text"  placeholder="Search" (keyup)="searchingItems($event)">
              </mat-form-field>
            
        </div>
    </div>

  <mat-progress-bar mode="indeterminate" class="ml-2" *ngIf="(usersLoader$ | async)"></mat-progress-bar>

  <div class="row w-100 ml-2" *ngIf="(users$ | async).length > 0">
      <mat-card class="w-100 mb-4">
    <!-- <div class="card w-100 mb-4"> -->
        <table class="table table-hover table-visualization">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <!-- <th>Roles</th>
                    <th>Organisationunit</th> -->
                    <th class="width-10">Actions</th>
                  </tr>
            </thead>
            <tbody>
             <tr *ngFor="let user of ((users$ | async) |
             filterBy: ['username', 'firstname', 'surname', 'roles', 'organisationunit'] : searchText |
             paginate: { itemsPerPage: itemsPerPage, currentPage: page})">
               <td> {{user.username}} </td>
               <td> {{user.firstname}} {{user.surname}} </td>
               <!-- <td> {{user.roles ? user.roles : ''}} </td>
               <td> {{user.organisationunit ? user.organisationunit : ''}} </td> -->
               <td> 

                  <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  matTooltip="More actions on user">
                <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
      
                    <button mat-menu-item
                    (click)="editUser(user)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
      
                    <button mat-menu-item
                    (click)="deleteUser(user)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete Record</span>
                    </button>
      
                  </mat-menu>

               </td>
             </tr>
            </tbody>
            <tfoot>
              <tr>
                <td [attr.colspan]="6">
                  <app-pagination
                    [itemsPerPage]="itemsPerPage"
                    [pageInterval]="itemsPerPage"
                    [pageIntervalFactor]="1"
                    [currentPage]="page"
                    [dataArray]="(users$ | async)"
                    [maxSize]="(users$ | async).length"
                    (changeCurrentPage)="onCurrentPageUpdate($event)"
                    (updateItemsPerPage)="onUpdatePageSize($event)">
                  </app-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
    <!-- </div> -->
   </mat-card>
  </div>

  <div class="row w-100 ml-2" *ngIf="(users$ | async).length < 1 && !(usersLoader$ | async)">
    <div class="w-100">
        <app-no-data-error
        [errorMessage]="'No data was found in the server'"
        ></app-no-data-error>
    </div>
    
  </div>
</div>

<div class="right-corder-container">
    <button mat-fab color="primary" matTooltip="Add user" class="font-x-large" [routerLink]="'/users/add'">+</button>
</div>
