<div class="row w-100 mt-4 mb-4">
  <div class="card elevate-element w-100 mb-4">
    <div class="card-body">
      <div class="col">
        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Username *">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Email">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Password *">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Repeat Password *">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Phone Number">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Job Title">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="first Name *">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="middle Name">
        </div>

        <div class="row mt-4">
          <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
          placeholder="Sur Name *">
        </div>

        <div class="row mt-4">
          <div class="w-100">
              <app-available-selected
              [nameSpaceTitle]="'Groups'"
              [availableItems]="[]"
              [selectedItems]="[]"
              ></app-available-selected>
          </div>
            
        </div>

        <div class="row mt-4">
          <div class="btn btn-primary">Save</div>
          <div class="btn btn-light ml-4">Cancel</div>
        </div>
        
      </div>
    </div>
  </div>
</div>