.elevate-element {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.right-corder-container {     
    position:fixed;     
    right:20px;     
    bottom:20px; 
}

.right-corder-container-button {     
    height: 62px;     
    width: 62px;     
    border:none;    
    /* background-color:#6FB583;      */
    border-radius: 62px;        /*Transform the square into rectangle, sync that value with the width/height*/    
    transition: all 300ms;      /*Animation to close the button (circle)*/    
    box-shadow:2px 2px 5px rgb(25, 73, 15);     
    cursor:pointer; 
}